body{
    background-color: #000000;
    color: rgb(199, 199, 199);
    font-family: "Ojuju", sans-serif;
}
.conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.titulo{
    text-align: left;
    width: 100%;
    font-size: 30px;
}
.titulo span{
    color: rgb(152, 253, 0);
}
.botao{
    font-family: "Ojuju", sans-serif;
    background-color: #0f225e;
    color:  rgb(199, 199, 199);
    display: flex;
    justify-content: center;
    padding: 1em;
    font-size: 18px;
    align-items: center;
    width: 100%;
    border-bottom: 2px solid  rgb(199, 199, 199);
    border-left: 1px solid  rgb(199, 199, 199);
    border-right: 1px solid  rgb(199, 199, 199);
    border-top: none;
}
.botao:first-child{
    border-radius: 40px 40px 0 0;
}
.botoes{
    display: block;
}
.botao.ativo{
    background-color: #002a85;
    border-bottom: 3px solid #5eff00;
}
.abas{
    background-color: #0c173d;
    padding: 80px;
    text-align: center;
    border-radius: 0 0 40px 40px;
    width: 700px;
}
.tempo{
    color: #5eff00;
}
.texto-titulo{
    font-size: 30px;
}
.textos.ativo{
    display: block;
}
.textos{
    display: none;
}
.contador{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.contador-digito{
    padding: 0 16px;
    font-size: 30px;
    color: #5eff00;
    min-width: 100px;
}
.contador-numero{
    font-size: 80px;
    margin: 0;
    color: white;
}

@media screen and (min-width:798px) {
    .botoes{
        display: flex;
    }
    .botao:first-child{
        border-radius: 40px 0 0 0;
    }
    .botao:last-child{
        border-radius: 0 40px 0 0;
    }
}